<%= form_for :house do |f| %>
  <p>
    <%= f.label :house_id %><br>
    <%= f.text_field :house_id %>
  </p>


  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
 
  

  
  <p>
    <%= f.submit %>
  </p>
<% end %>