<%= form_for :supplier do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :s_id %><br>
    <%= f.text_area :s_id%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>