<%= form_for :employee do |f| %>
	<p>
    <%= f.label :name %><br>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>