 


<%= form_for :emp do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :e_id %><br>
    <%= f.text_area :e_id %>
    
  </p>
  <p>
    <%= f.label :designation %><br>
    <%= f.text_area :designation %>
    
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>